*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  background:rgba(2, 12, 24, 0.75) ;
}

 main{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;

 }

a{
  text-decoration: none;
  color:#00e5ff ;
  font-size:25px;
  transition: color 1s ease;
  margin: 0 auto;
}
a:hover{
  color: #fff;
}


.float {
  animation: float 2s ease-in-out infinite;
}

.delay {
  animation-delay: 0.5s;
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-40px); }
  100% { transform: translateY(0px); }
}